*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colores para modo claro */
  --bg-color: #fcfdfd; /* Fondo claro */
  --text-color: #212121; /* Texto oscuro */
  --toggle-bg: #000000; /* Fondo del toggle en modo claro */
  --toggle-circle-bg: #ffffff; /* Fondo de la bolita en modo claro */
  --primary-color: #000000; /* Violeta oscuro */
  --secondary-color: #000000; /* Tono más suave de violeta */
  --button-primary-bg: #000000; /* Fondo del botón primario en claro */
  --button-primary-text: #ffffff; /* Texto del botón primario en claro */
  --button-secondary-text: #000000; /* Texto del botón secundario en claro */
  --background-color: #f0f0f0; /* Fondo secundario en claro */
}

[data-theme="dark"] {
  /* Colores para modo oscuro */
  --bg-color: #0a0d0e; /* Fondo oscuro */
  --text-color: #e0e0e0; /* Texto claro */
  --toggle-bg: #ffffff; /* Fondo del toggle en modo oscuro */
  --toggle-circle-bg: #000000; /* Fondo de la bolita en modo oscuro */
  --button-primary-bg: #ffffff; /* Fondo del botón primario en oscuro */
  --button-primary-text: #000000; /* Texto del botón primario en oscuro */
  --button-secondary-text: #ffffff; /* Texto del botón secundario en oscuro */
  --primary-color: #fcfdfd; /* Violeta claro */
  --secondary-color: #000000; /* Violeta más oscuro */
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Playfair Display", sans-serif;
  transition: background-color 0.4s, color 0.4s; /* Transición suave */
}

/* Encabezados */
h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  line-height: 1.3;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
}

h4 {
  font-size: 1.5em;
  line-height: 1.5;
}

/* Texto general */
p, span, li {
  font-size: 1em;
  color: var(--text-color);
}

/* Botones */
button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  padding: 0.75em 1.5em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 350px;
}

/* Botón primario */
button.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: 1px solid transparent;
}

button.primary:hover {
  background-color: var(--primary-color);
  color: var(--button-primary-text);
  border: 1px solid #ffffff;
}

/* Botón secundario */
button.secondary {
  background-color: transparent;
  color: var(--button-secondary-text);
  border: 1px solid var(--button-primary-bg);
}

button.secondary:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: 1px solid #ffffff;
}


.curso-post-contenedor {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1.5em 0;
}

.login-form button {
  margin: 1em  auto;
  display: block;
}

.back-button {

  color: #ffffff;
  font-size: 16px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;

}
